.header-container {
  width: 100%; 
  margin: auto;
  background-color: rgba(220, 232, 240, 0.9); 
  padding: 2px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding: 5px 2vw;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  max-width: 800px;
  width: 90%;
}

.logo {
  width: 185px;
  max-width: 185px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.header-title {
  color: #00b3e6;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 0;
  text-align: center;
  white-space: normal; 
  max-width: 100%;
  word-wrap: break-word;
}

.header-image img {
  width: 180px;
  max-width: 100%;
  height: 150px;
}

/* Tablets y laptops pequeñas */
@media (max-width: 1024px) {
  .header-content {
    max-width: 600px;
    width: 95%;
  }
  .logo {
    width: 160px;
  }
  .header-title {
    font-size: 1.7rem;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .header-container {
    max-width: 100%;
    padding: 8px 1rem;
  }

  .header-inner {
    flex-direction: column;
    align-items: center;
    padding: 15px 2vw;
  }

  .header-content {
    max-width: 100%;
    width: 100%;
  }

  .logo {
    width: 120px;
    margin-top: 3px;
    margin-bottom: 0.5rem;
  }

  .header-title {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  .header-image {
    margin-top: 10px;
  }

  .header-image img {
    width: 140px;
    height: auto;
  }
}

/* Teléfonos pequeños */
@media (max-width: 414px) {
  .logo {
    width: 120px;
  }
  .header-title {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
  .header-image img {
    width: 100px;
    height: auto;
  }
}
